[
    {
        "text": "get ready for school",
        "language": "en-au",
        "tasks": [
            {
                "text": "get out of bed",
                "interval": 15
            },
            {
                "text": "get dressed",
                "interval": 60
            },
            {
                "text": "brush your teeth",
                "interval": 60
            },
            {
                "text": "put on your boots, coat, and hat",
                "interval": 60
            }
        ]
    }
]
